.form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    margin: 16px 0;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding-bottom: 0 !important;
  }
  
  mat-expansion-panel {
    margin-bottom: 16px;
  }
  