<div fxLayout="row wrap" style="margin-top:-20px">
    <mat-card fxFlex="{{getControlPanelWidth()}}" class="card mat-elevation-z8 filter-card">
        <mat-card-content>
            <form novalidate [formGroup]="filterForm">
                <label class="filter-label">Filter</label>
                <mat-form-field class="example-full-width filter-album">
                    <mat-label>Album</mat-label>
                    <input matInput class="form-control" formControlName="album">
                  </mat-form-field>
                  <mat-form-field class="example-full-width filter-artist">
                    <mat-label>Artist</mat-label>
                    <input matInput class="form-control" formControlName="artist">
                  </mat-form-field>
                  <mat-form-field class="example-full-width filter-year">
                    <mat-label>Jahr</mat-label>
                    <input matInput class="form-control" formControlName="year">
                  </mat-form-field>
                  <label class="filter-label-sort">Sortieren</label>
                </form>
        </mat-card-content>
    </mat-card>
</div>
<div class="content2" fxLayout="row wrap">    
    <mat-card fxFlex="{{getCardWidth()}}px" class="card mat-elevation-z8" *ngFor="let album of albums" (click)="details(album.id)">
        <mat-card-content class="content">
            <div class="box">
                <img src="http://mdb.wkoenig.info/assets/{{getCover(album)}}" class="cover">
            </div>
            <p class="label1">{{album.name}}</p>
            <p class="label2">{{album.artist.name}}</p>
            <p class="label3">{{album.release | date:'yyyy'}}</p>
        </mat-card-content>
    </mat-card>    
</div>