@import "../../../theme";

.ad-edit-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.ad-edit-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ad-edit-data-container-left {
    flex-grow: 2;
}
.ad-edit-data-container-right {
    margin-left: 15px;
    margin-right: 15px;
    flex-grow: 2;
}
.ad-edit-ctrl-container {
    flex-grow: 1;
}
.ad-edit-list-container {
    background-color: green;
    width: 100%;
}
.ad-edit-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ad-input {
    width: 100%;
    height: 15px !important;
    max-height: 15px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    font-size: 14px;
}
.ad-input100 {
    width: 100%
}
.ad-input50 {
    width: 50%
}

.ad-card {
    margin-top: 15px;
    background-color: rgba($primary, .5) !important;
  }

  .card-header {
    font-size: 16px;
    margin-bottom: 14px;
    font-weight: bold;
}

.fab-view {
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: rgba($primary, .5) !important;
}

mat-option.mat-option {
    position: relative;
    background-color: rgba($primary, .5) !important;
    height: 24px!important;
    line-height: 24px!important;
    max-height: 24px!important;
    font-size: 14px;
}

mat-option.mat-active { 
    background-color: rgba($primary, .8) !important;
}

