<mat-card class="card" *ngFor="let event of timeline">
    <mat-card-header>
        <mat-card-title>
            {{babyname}} {{event.eventType.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{event.date | date: 'short'}}
        </mat-card-subtitle>
        <mat-icon [svgIcon]="event.eventType.name" mat-card-avatar></mat-icon>
    </mat-card-header>
    <mat-card-content *ngIf="event.comment">
        {{event.comment}}
    </mat-card-content>
</mat-card>
<button mat-fab class="fab" (click)="addEvent()">
    <mat-icon>add</mat-icon>
</button>