@import "../theme";

.sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.toolbar {
    position: relative;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
}
$cc: map-get($theme, primary);
.content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 24px;
    background-color: rgba($primary, .2) !important;
 //   background-color: mat-color($cc) !important;
}

::ng-deep router-outlet + * {
    display: block;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.sidenav {
    width: 65%;
    min-width: 250px;
    max-width: 350px;
}

//@import '~@angular/material/theming';
.active {
    font-weight: bold;
    color: $primary !important;
    background-color: rgba($primary, .12) !important;
}

.stretch {
    flex-grow: 1;
}